﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="fixed-bottom customFooter bg-primary">
    <div class="col-md-6 float-left float-left mt-2">
        <p class="col-md-1 text-light font-weight-bold d-inline">&copy; 2018 - GitHost</p>
        <div class="col-md-2 d-inline"><img src="~/images/fshare.png" style="width:30px; height:30px" /></div>
        <div class="col-md-2 d-inline"><img src="~/images/tshare.png" style="width:30px; height:30px" /></div>
        <div class="col-md-2 d-inline"><img src="~/images/ishare.png" style="width:30px; height:30px" /></div>      
    </div>           
</footer>