@using Microsoft.AspNetCore.Identity
@using GitHost.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="ml-auto">
        <ul class="nav navbar-nav">
            <li>
                @{
                    int position = @UserManager.GetUserName(User).IndexOf('@');
                    <a asp-area="" asp-controller="Manage" asp-action="Index" class="text-light" title="Manage">Hello @UserManager.GetUserName(User).Substring(0, position)!</a>

                }
            </li>
            <li>
                <button type="submit" class="btn btn-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="d-inline-flex">
        <li><a asp-area="" asp-controller="Account" asp-action="Register" class="text-light mr-3">Register</a></li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" class="text-light">Log in</a></li>
    </ul>
}
