﻿
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<nav class="customNavBar bg-primary fixed-top">
    <div class="d-flex mt-4">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="text-light col-8">GitHost</a>
        <div class="col-6 text-center m-0">
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </div>
    

</nav>