﻿@model GitHost.ViewModels.IndexViewModel    

<nav id="sidebar" class="bg-dark">
    <div class="sidebar-header bg-dark">
        <h3 class="mt-5">Projects</h3>
    </div>

    <ul class="list-unstyled components projects border-0">

            @foreach (var project in @Model.ProjectListView.ProjectList)
             {
                 <li><a href="/Home/SelectProject?projectId=@project.Id">@project.Name</a></li>
                 
             }
    </ul>
    <div class="">
        <button class="btn btn-success ml-2" type="button" data-toggle="modal" data-target="#createProjectModal">Create Project</button>
    </div>
</nav>





