﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="branchContentArea" class="projectTab">
    <ul class="nav mt-5 float-right clearfix pb-2">
        <li><i class="fa fa-shield fa-2x mr-2 mt-1"></i></li>
        <li class="nav-item">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createBranchModal">Create New Branch</button>
        </li>
        <li class="nav-item ml-1">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createFileModal">Create Merge Request </button>
        </li>
        <li class="nav-item ml-1">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#uploadFileModal">Remove Merge Request</button>
        </li>
    </ul>
    <table class="table table-hover mt-2 text-center">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Merge Request Pending</th>
                <th scope="col">Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Brian Kilburn</th>
                <td>(1) Request</td>
                <td>9/18/2018</td>
            </tr>

            <tr>
                <th scope="row">Tim Hopkins</th>
                <td>(0) Requests</td>
                <td>9/18/2018</td>
            </tr>


            <tr>
                <th scope="row">Hayden Bush</th>
                <td>(12) Requests</td>
                <td>9/18/2018</td>
            </tr>

            <tr>
                <th scope="row">New Branch</th>
                <td>(0) Requests</td>
                <td>9/19/2018</td>
            </tr>

        </tbody>
    </table>
</div>