﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div id="commitContentArea" class="projectTab">
    <table class="table table-hover mt-2 ">
        <thead>
        <tr>
            <th scope="col">Commit ID</th>
            <th scope="col">Comments</th>
            <th scope="col">Date</th>
            <th scope="col">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">bd5c3883</th>
            <td>added the requirement spec report</td>
            <td>18 Sep, 2018</td>
            <td>Tim Hopkins</td>
        </tr>
        <tr>
            <th scope="row">ce590044</th>
            <td>added divs</td>
            <td>18 Sep, 2018</td>
            <td>Brian Kilburn</td>
        </tr>
        <tr>
            <th scope="row">4b1e33eb</th>
            <td>Use Case Diagram</td>
            <td>13 Sep, 2018</td>
            <td>Hayden Bush</td>
        </tr>
        <tr>
            <th scope="row">8d981ef3</th>
            <td>worked on navbar</td>
            <td>12 Sep, 2018</td>
            <td>Brian Kilburn</td>
        </tr>
        <tr>
            <th scope="row">67f57ff0</th>
            <td>improved website</td>
            <td>09 Sep, 2018</td>
            <td>Hayden Bush</td>
        </tr>

        </tbody>
    </table>
</div>
