﻿@model GitHost.ViewModels.IndexViewModel

<div class="projectTab" id="contributorsContentArea">
    <form>
        <div class="mt-5 col-12">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" list="users" class="form-control col-md-6" placeholder="Search for a Contributor" id="contributorSearch">
                        <datalist id="users">
                            @if (Model != null)
                            {
                                foreach (var users in Model.ContributorsListViewModel.UsersToAddList)
                                {
                                    <option id="userId" value="@users.Email" data-value="@users.Id">@users.Email</option>
                                }
                            }
                        </datalist>
                        <div class="input-group-append">
                            <button class="btn btn-success" type="button" id="addContributorButton" onclick="addContributor()">
                                <i class="fa fa-user-plus fa-lg" style="color: white"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-md-6">
                        <label class="control-label">
                            <Strong>Contributors</Strong>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <select size="10" style="width: 225px; font-size: 20px" readonly>
                            @if (Model != null)
                            {
                                foreach (var users in Model.ContributorsListViewModel.UserList)
                                {
                                    <option value="@users.Email">@users.Email.Substring(0, @users.Email.IndexOf('@'))</option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
