﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model GitHost.ViewModels.IndexViewModel


<div id="fileContentArea" class="projectTab">
    <h5 id="FilePath" class="mt-4"></h5>
    <ul class="nav mt-3">
        <li class="nav-item">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#createFileModal">Create new file</button>
        </li>
        <li class="nav-item ml-1">
            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#uploadFileModal">Upload a file</button>
        </li>
    </ul>

   @Html.Raw(Model.FilesViewModel.Html)
    
</div>