﻿@model GitHost.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";

}
<div class="col-md-9" >
    <div class="container body-content mt-5">
        <div class="position-relative mt-3" id="tabs">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" id="filesTab">
                    <a class="nav-link active" href="#fileContentArea">Files</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#branchContentArea">Branches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#commitContentArea">Commits</a>
                </li>
                <li class="nav-item" id="contributorsTab">
                    <a class="nav-link active" href="#contributorsContentArea">Contributors</a>
                </li>
            </ul>
        </div>
        <div class="page-header">
            <h3 class="mt-5 mb-5" id="ProjectTitle" data-value="@Model.ProjectViewModel.Id" data-id="@Model.ProjectViewModel.Name"><strong>@Model.ProjectViewModel.Name</strong></h3>
        </div>
        <div id="pageContentArea">
            @Html.Partial("_FileContentArea")
            @Html.Partial("_BranchContentArea")
            @Html.Partial("_CommitContentArea")
            @Html.Partial("_ContributorsContentArea")
            <hr />
        </div>
    </div>
</div>

@Html.Partial("Modals/_ConfirmDeleteModal")
@Html.Partial("Modals/_NewBranchModal")
@Html.Partial("Modals/_CreateProjectModal")
@Html.Partial("Modals/_CreateFileModal")
@Html.Partial("Modals/_UploadFileModal")