﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model GitHost.ViewModels.IndexViewModel

<!-- Modal -->
<div class="modal fade" id="createProjectModal" tabindex="-1" role="dialog" aria-labelledby="createProjectModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-xs-center">Create a Project</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" method="POST" asp-controller="Home" asp-action="CreateProject">
                    <div class="form-group row">
                        <div class="col-5">
                            <label class="control-label">Project name</label>
                            <input  asp-for="ProjectViewModel.Name" type="text" class="form-control" placeholder="My project">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6">
                            <label class="control-label">Project URL</label>
                            <div>
                                <div class="input-group">
                                    <span class="input-group-text">https://localhost:44344/</span>
                                    <input type="text" value="Tim Hopkins" class="col-4" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group row">
                        <div class="col-8">
                            <label class="control-label">Project description (optional)</label>
                            <textarea asp-for="ProjectViewModel.Description" class="form-control" id="projectDescription" rows="4" col="75" placeholder="Description format"></textarea>
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="col-8">
                            <label class="control-label">Visibility Level</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="privateRadio" name="groupOfVisiblityRadios">
                                <label class="form-check-label">
                                    <i class="fa fa-lock"></i>
                                    Private
                                </label>
                            </div>
                            <div col="3"><div class="ml-4 text-muted">Project access must be granted explicitly to each user.</div></div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="internalRadio" name="groupOfVisiblityRadios">
                                <label class="form-check-label">
                                    <i class="fa fa-shield"></i>
                                    Internal
                                </label>
                            </div>
                            <div col="3"><div class="ml-4 text-muted">The project can be accessed by any logged in user.</div></div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="publicRadio" name="groupOfVisiblityRadios">
                                <label class="form-check-label">
                                    <i class="fa fa-globe"></i>
                                    Public
                                </label>
                            </div>
                            <div col="3"><div class="ml-4 text-muted">The project can be accessed without any authentication.</div></div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex ">
                        <input class="btn btn-warning pull-left btn-lg mr-auto" value="Create" type="submit"/>
                        <button class="btn btn-lg btn-outline-dark" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
            
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->