﻿.custom-search input {
    background: rgba(255, 255, 255, 1) url("https://image.flaticon.com/icons/svg/126/126474.svg") no-repeat scroll right center / 30px 18px;
    padding-right: 20px;
    transition: all 0.5s ease 0s;
    width: 30px;
    float: right;
}

    .custom-search input:focus {
        width: 100%;
    }

.bg-black {
    background: #999 none repeat scroll 0 0;
    display: inline-block;
    padding: 3% 2%;
    width: 100%;
    border-radius: 25px;
}
